.card{
    border-radius: 3;
    font-family: 'Courier';
}

.card, .card-footer{
    background-color: #ffffa5;
    border:none;
}
.card.completed,
.card.completed .crd-footer{
    background-color:#eeeea5 ;
    color:#ddd;
}

.card-footer{
    font-size: 11px;
    text-align: left;
    background-color: #eeeea5;
}
i{
    color:#cc0000;

}

.fa-check{
    color:#00ff00;
}