.card{
    border-radius: 3;
    font-family: 'Courier';
    cursor:pointer;
}

.card, .card-footer{
    background-color: #ffffa5;
    border:none;
}
.card.completed,
.card.completed .crd-footer{
    background-color:#eeeea5 ;
    color:#ddd;
}

.card-footer{
    font-size: 11px;
    text-align: left;
    background-color: #eeeea5;
}
i{
    color:#cc0000;

}

.fa-check{
    color:#00ff00;
}

.delete{
    width: 2em;
    height: 2em;
    position: absolute;
    top: 0.5em;
    right: 0.5em;
    text-align: center;
    padding-top:0.25em;
   background-color: #eeeea5; 
}

.hidden{
    display: none;
}