<div class="col-sm-3">
    <div class="card" (click)="statusToggle()" [class.completed]="task.completed" [class.hidden]="task.hidden">
        <div class="card-block">
            <div class="delete" (click)="hide()"><i class="fa fa-trash" aria-hidden="true"></i></div>
            <p>{{task.content}}</p>
        </div>
        <div class="card-footer">
            <span *ngIf="!task.completed"><i class="fa fa-times" aria-hidden="true"></i> <strong>not</strong> complete</span>
            <span *ngIf="task.completed"><i class="fa fa-check" aria-hidden="true"></i> <strong>completed</strong></span>
        </div>
    </div>
</div>